############################################
## help: https://www.musicpd.org/doc/user ##
##       man mpd.conf                     ##
############################################

# --- The music folder ---
music_directory         "/home/predic/music"

# --- The playlists store folder ---
playlist_directory      "/home/predic/.config/mpd/playlists"
# We can use a shared folder to share playlists
#playlist_directory      "/mnt/qnas/media/playlists/"

# --- Typical files when running MPD under a user session
db_file                 "/home/predic/.config/mpd/database"
log_file                "/home/predic/.config/mpd/log"
pid_file                "/home/predic/.config/mpd/pid"
state_file              "/home/predic/.config/mpd/mpd_state"
state_file_interval     "1"
sticker_file            "/home/predic/.config/mpd/sticker.sqlite"

# --- Listening address and port scope
port                    "6600"
# tpc:
bind_to_address         "any"
# unix socket:
bind_to_address         "/home/predic/.config/mpd/socket"

# --- User when wide system (root) running. NOT USED HERE
#user                    "mpd"
#group                   "audio"

# --- Database update ---
auto_update             "yes"
#auto_update_depth       "3"
# Follows symlinks outside the music folder
follow_outside_symlinks "yes"
# Follows symlinks inside the music folder
follow_inside_symlinks  "no"

# --- Inputs ---
# url playing:
input {
    plugin "curl"
}
# cd playing:
input {
    plugin "cdio_paranoia"
}

# --- Decoders ---
# usually already enabled by default
#decoder {
#    plugin "flac"
#    enabled "yes"
#}
    
# --- Outputs ---
# Jack
audio_output {
    enabled         "yes"
    type            "jack"
    client_name     "mpd"
    always_on       "no"
    # port name prefix in jack:
    name            "jack"
    # enumerate suffixes of the ports in jack :
    source_ports    "out_0,out_1"
    # WARNING:  to avoid autoconnect to system:playback
    #           we MUST declare destination_ports
    destination_ports "mpd_loop:input_1,mpd_loop:input_2"
    # Optionally format force <fs:bits:channels>, willcards are allowed:
    #format          "*:*:2"
}

# Alsa dummy output useful for volume control shared with others (needs alsa 'snd_dummy' module loaded)
audio_output {
    enabled         "yes"
    type            "alsa"
    name            "alsa_dummy"
    device          "hw:Dummy"
    mixer_control   "Master"
    mixer_type      "hardware"
}

# http streaming output
audio_output {
    enabled         "no"
    type            "httpd"
    name            "MPD_Stream"
    # Encoder vorbis or lame
    encoder      "lame"
    compression   "5"
    port          "8000"
    # Optional address scope:
    # bind_to_address "0.0.0.0"
    # Define only quality or bitrate:
    # quality         "5.0"                   
    bitrate           "256"
    format            "44100:16:2"
    # Optional max clients, use 0 for no limit:
    # max_clients     "0"
    always_on "yes"
}

# --- Output resampling
samplerate_converter       "Best Sinc Interpolator"
#samplerate_converter       "Medium Sinc Interpolator"
#samplerate_converter        "soxr high"
#samplerate_converter        "soxr very high"

# --- Replay Gain
replaygain                  "album"
#replaygain_preamp           "0"
#volume_normalization        "no"

# --- Miscel (legacy options)
filesystem_charset "UTF-8"
#log_level                 "default"
# audio_buffer_size        "4096"
# buffer_before_play        "20%"
# metadata_to_use "artist, albumartist, album, title, track, name, genre, date, composer, performer, comment, disc"
#gapless_mp3_playback               "yes"
#restore_paused                     "no"
#save_absolute_paths_in_playlists   "no"

# --- Zeroconf announcement:
zeroconf_enabled             "yes"
zeroconf_name                "pre.di.c mpd :-)"
