## Values cannot be void
## Numbers: assign "none" to not set
## Strings: assign "''" to not set

loudspeaker: example2ways-sub

# Full ALSA identifier 'hw:Card,Device'
system_card: hw:0,0
# Cards external to jack (space sepated string if many)
# Full ALSA identifier 'hw:Card,Device'
external_cards: ''
# Resampler for external cards: alsa | zita
resampler: zita
# Resampling quality (optional) (0..4 for alsa, 16..96 for zita)
resamplingQ: 96

# Delay between commands (seconds)
command_delay: 1
# "Beep" command options to indicate software load
beep_options: ''

# Max digital gain (dB)
gain_max: 6

# Zeroes some settings on startup (True/False)
tone_reset_on_startup : False
balance_reset_on_startup : False
loudness_reset_on_startup : False
mono_reset_on_startup: False

# Volume settings on startup. assign null to not set
level_on_startup: null
# Max volume on startup. Leave blank to not set,
# precedes level_on_startup.
max_level_on_startup: 0

# Sound monitors (jack ports). Assign '' to not set.
# Input selector will connect sources to this ports
jack_monitors: ''

## Paths & options

# The generic server (will be called 'server.py control' for pre.di.c control)
server_path: ~/pre.di.c/bin/server.py

# Screen output: 0 (nothing) - 1 (minimal) - 2 (full)
control_output: 0
# Screen erasing between commands: True - False
control_clear: False

# Jack
jack_path: /usr/bin/jackd
# jack options on ALSA: omit cards and fs (managed in initaudio.py)
jack_options:          -R -ddummy -P8 -C2
#jack_options: --silent -R -dalsa -p2048 -n3 --shorts


# Brutefir,
# for options see https://www.ludd.ltu.se/~torger/brutefir.html#config
brutefir_path: /usr/bin/brutefir
brutefir_options: ''
brutefir_ports: brutefir:in.L brutefir:in.R

# Ecasound (optional)
load_ecasound: False
ecasound_path: /usr/bin/ecasound
# Number of parametrics
# Needed PEQxNN_defeat_Fs.ecs template in ~/config
ecasound_filters: 8
# Ecasound jack ports
ecasound_ports: ecasound:in_1 ecasound:in_2


## Net

# Brutefir cli address and port
bfcli_address: 127.0.0.1
bfcli_port: 3000

# Control server address and port
# 0.0.0.0 listen to all net connections
# 127.0.0.1 listen only to local connections
control_address: 0.0.0.0
control_port: 9999

# Auxiliary service servers (optional)
aux_address: localhost
aux_port: 9990
players_address: localhost
players_port: 9991

## Equalizer stage in Brutefir

# Filenames of frequencies, loudness curves, tone control curves, 
frequencies: R20_ext-freq.dat
loudness_mag_curves: R20_ext-loudness_mag.dat
loudness_pha_curves: R20_ext-loudness_pha.dat
treble_mag_curves: R20_ext-treble_mag.dat
treble_pha_curves: R20_ext-treble_pha.dat
bass_mag_curves: R20_ext-bass_mag.dat
bass_pha_curves: R20_ext-bass_pha.dat
loudness_SPLref: 83
loudness_SPLmax: 90
loudness_SPLmin: 70

# Max dB deviation from 0
tone_variation: 6
loudness_variation: 7
balance_variation: 6

# Jump between equalization curves (dB)
# not yet implemented, given as an indication that must be assumed
step: 1

