# DVB-T presets (radio or not)
presets:
  1: Radio Nacional
  2: Radio Clasica HQ
  3: Radio 3 HQ
  4: Radio Exterior RNE
  5: Radio 5
  6: SER
  7: Kiss FM
  8: ONDA CERO
  9: ONDA MADRID

# If 0 here, then DVB.py will start loading last item from recent_presets
default_preset: 0

recent_presets:
  last: 2
  prev: 4

input:
  dvb_input: tdt
