mpd_load.py         # Loads MPD
istreams.py         # Mplayer based internet streams player script
#DVB.py             # Mplayer based DVB-T player script
#netjack.py 
alsa_loop_load.py   # Sets up alsa_loop ports in jack to be used from ALSA backended players
librespot.py        # Loads a Spotify Connect player client
aux.py              # Loads a server to switching the amplifier and running user macros.
players.py          # Loads a server to interfacing with players
