# client start scripts listed in this file are launched on start.
# names refer to any kind of executable with paths relative to folder
# 'clients' or its subfolders, and corresponding options, if any

# Don't name this mpd.py since it could interfere with mpd module
#mpd_load.py start

#DVB/DVB_load.py start

#netjack_load.py

# Sets up alsa_loop ports in jack to be used from ALSA players
alsa_loop_load.py
