# client load scripts listed in this file are launched on start.
# names refer to any kind of executable in folder 'clients' or its
# subfolders

# Don't name this mpd.py since it could interfere with mpd module
# mpd_load.py

# DVB/DVB.py

# netjack.py

# Sets up alsa_loop ports in jack to be used from ALSA players
alsa_loop_load.py
