## values cannot be void
## Numbers: assign "none" to not set
## Strings: assign "''" to not set



## hardware

loudspeaker: example_1_way



## misc

# delay between commands (seconds)
command_delay: 1
# "beep" command options to indicate software load
beep_options: ''
# max allowed digital gain (dB)
gain_max: 6
# use fixed initial state, instead of last saved state
use_state_init: true
# when changing inputs use associated xo
use_input_xo: true
# jack audio ports
# input selector will connect sources to this ports
audio_ports: brutefir:input-0 brutefir:input-1
# jack monitor ports. Assign '' to not set
# input selector will also connect sources to this ports
monitors_ports: ''



## core

# server
# screen output: 0 (minimal), 1 (informative), 2 (debug)
server_output: 0
# address and port
# 0.0.0.0 listen to all net connections
# 127.0.0.1 listen only to local connections
control_address: 0.0.0.0
control_port: 9999

# jack
# omit fs (managed in initaudio.py, taken from loudspeaker config)
jack_command: /usr/bin/jackd --silent -R -P 90 -dalsa -p1024 -d hw:0,0

# brutefir
# for options see https://www.ludd.ltu.se/~torger/brutefir.html#config
# omit config file (managed in initaudio.py, taken from loudspeaker config)
brutefir_command: /usr/bin/brutefir
# cli address and port
bfcli_address: 127.0.0.1
bfcli_port: 3000
