# sources configuration

# source_name:

## gain shift of source
#   gain: float(dB)

## jack source ports
#   source_ports: source_jack_port_1 source_jack_port_2

## name of crossover filter set to be activated automatically
## when the source is selected
#   xo: filter_set_name


a:
    gain: 0.0
    source_ports: system:capture_1 system:capture_2
    xo: mp

#mpd:
#    gain: 0
#    source_ports: mpd_jack:L mpd_jack:R
#    xo: mp
#
#net:
#    gain: 0
#    source_ports: net:from_slave_1 net:from_slave_2
#    xo: mp
#
#tdt:
#    gain: 0
#    source_ports: mplayer_dvb:out_0 mplayer_dvb:out_1
#    xo: mp
