balance: 0.0
bass: 0.0
drc: none
input: a
channels: 'off'
level: -28.0
loudness: 'on'
loudness_ref: 0.0
midside: 'off'
mute: 'off'
solo: 'off'
polarity_flip: 'off'
polarity_inv: 'off'
treble: 0.0
xo: lp
