# DVB-T config

# please respect indentation when editing

# mplayer command:
# mplayer aditional options:
# -quiet: see channels change
# -really-quiet: silent
command: /usr/bin/mplayer -quiet -nolirc

# commands FIFO filename
fifo_filename: DVB_fifo
