# DVB-T config

# please respect indentation when editing

# mplayer command:
# mplayer aditional options set in ~/.mplayer/config
command: /usr/bin/mplayer -profile dvb

# commands FIFO filename
# option -input file={dvb_fifo} is added in program
fifo_filename: DVB_fifo
