# DVB-T config

# please respect indentation when editing

# mplayer path:
mplayer_path: '/usr/bin/mplayer'

# mplayer aditional options:
# -quiet: see channels change
# -really-quiet: silent
options: '-quiet -nolirc'

# command fifo filename
dvb_fifo: 'DVB_fifo'

# state filename:
state: 'state.yml'

#presets filename:
presets: 'presets.yml'
